extends layout

block content
    div.container
        div.row
            h1 JSON Prettifier
            p Barebones JSONLint clone. Just because it seems like a fun project really.
        div.row
            div.twelve.columns
                textarea.u-full-width(style='height: 350px')
        div.row
            div.twelve.columns(style='padding-top: 5px')
                button.button-primary.u-pull-right prettify✿
