extends layout

block content
    div(ng-app='prettifyApp')
        div.container(ng-controller='MainController')
            div.row
                h1 JSON Prettifier
                p Barebones JSONLint clone. Just because it seems like a fun project really.
            div.row
                div.alert-error(ng-show='alerts.showError') <strong>Whoops!</strong> JSON is not valid.
                div.alert-success(ng-show='alerts.showValid') <strong>Hooray!</strong> JSON is valid.
            div.row
                div.twelve.columns
                    textarea#jsonInput.u-full-width(style='height: 450px')
            div.row
                div.twelve.columns(style='padding-top: 5px')
                    button.button-primary.u-pull-right(ng-click='prettify()') prettify✿
