doctype html
html
    head
        meta(charset='UTF-8')
        
        title JSON Prettifier
        
        link(rel='stylesheet', href='/components/skeleton/css/skeleton.css')
        link(rel='stylesheet', href='/components/skeleton/css/normalize.css')

        link(rel='stylesheet', href='/components/numberedtextarea/jquery.numberedtextarea.css')
        
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        block content
        
        include ./footer.pug

        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/numberedtextarea/jquery.numberedtextarea.js')
        script(src='components/angular/angular.min.js')
        script(src='javascripts/prettifyApp.js')
        script(src='javascripts/MainCtrl.js')
