.alert-success {
    width: 100%;
    box-sizing: border-box;
    background-color: #ABEBC6;
    border-left: 6px solid #28B463;
    color: #28B463;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.alert-error {
    width: 100%;
    box-sizing: border-box;
    background-color: #F5B7B1;
    border-left: 6px solid #CB4335;
    color: #CB4335;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}
